
@{
    ViewBag.Title = "Create";
}
<p class="text">Fill the form to create new task</p>
<form name="createForm" method="post" action="~/Home/Create" class="text">
    <input type="hidden" value="@ViewBag.AncestorId" name="AncestorId" />
    <table>
        <tr>
            <td>Task name:</td>
            <td><input type="text" name="Name" required/> </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="Description" /></td>
        </tr>
        <tr>
            <td>Performers:</td>
            <td><input type="text" name="Performers" /></td>
        </tr>
        <tr>
            <td>Planed finish date:</td>
            <td><input type="datetime-local" name="PlanedFinishDate" required /></td>
        </tr>
        <tr><td><input type="submit" value="[Submit]" class="button addbutton" /> </td><td></td></tr>
    </table>
</form>
