@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model string
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger errortext">@Localizer["Title"]</h1>
<h2 class="text-danger text">@Localizer["Subtitle"]</h2>


<p>
    <strong class="errortext">[@Model]</strong>
</p>

<a href="~/Home/Index" class="button addbutton">@Localizer["Home"]</a>